/*  https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    background-color: #33800b;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body {
    background-color: #408053;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  body {
    background-color: #4c8004;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

  body {
    background-color: #7a8023;
  }
}

/* ----------- Wide ----------- */

@media screen
  and (min-width: 1400px) {

  body {
    background-color: darksalmon;
  }
}
